[Unit]
Description=EmeBotEme Voice AI Assistant
After=network.target sound.target

[Service]
Type=simple
# El servicio debe cargar el token de Hugging Face
EnvironmentFile=%h/.config/emeboteme/.env
Environment="PATH=%h/.opencode/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/emerito/.config/emeboteme/venv/bin/python -u /home/emerito/.config/emeboteme/ai/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
